<p>Be the next sought after Security guru by reading through our site's deep knowledge base!</p>

<form>
<table>
<tr>
<td>Username :</td><td><input type="text" name="username"></td> <br>
</tr>
  <tr>
<td>Email    : </td><td><input type="text" name="emailid"></td><br>
  </tr>
  <tr>
<td>Password :</td><td><input type="password" name="pwd"></td> <br>
  </tr>
  <tr>
<td><input type="submit" value="Submit"></td>
  </tr>
</table>
</form>